{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
  
{% block content %}
    <div class="container-fluid">
        <div class="row h-40 my-5">
            <div class="col-sm-6 my-5">
                <h2><strong>Buy the finest English Wines</strong></h2>
                <p>
                    At the English Wine Cellar, we have carefully selected wines for their outstanding quality and provinance straight from the winemakers themselves.
                    If you are passionate about wine, then you will want to try some of the wonderful English wines we have on offer.
                </p>
                <h5>
                    <a href="{% url 'products' %}" class="browse-now-button btn btn-lg rounded-5 text-uppercase py-3">Browse Our Cellar</a>
                </h5>
            </div>
                <div class="col-sm-6 my-5">
                <img class="mw-100" src="/media/wine_bucket_unsplash.jpg" alt="ice bucket with bottles of sparkling wine">
            </div>
        </div>
        <div class="container-fluid">
            <div class="row my-3">
              <div class="col col-sm-6">
                  <a href="{% url 'products' %}?category=red_wine,white_wine,rose_wine,sparkling_wine" class="">
                      <img class="link_image img-thumbnail card-body"src="/media/wine_cellar_wine_bottles.jpg" alt="rack of wine bottles">
                      <h6 class="text-muted text-center small px-3 mt-2"><strong>Wines</strong></h6>
                    </a>
                    <a href="{% url 'products' %}?category=red_wine,white_wine,rose_wine,sparkling_wine" class="">
                      <img class="link_image img-thumbnail card-body"src="/media/wine_cellar_wine_bottles.jpg" alt="rack of wine bottles">
                      <h6 class="text-muted text-center small px-3 mt-2"><strong>Wines</strong></h6>
                    </a>
                    <a href="{% url 'products' %}?category=red_wine,white_wine,rose_wine,sparkling_wine" class="">
                      <img class="link_image img-thumbnail card-body"src="/media/wine_cellar_wine_bottles.jpg" alt="rack of wine bottles">
                      <h6 class="text-muted text-center small px-3 mt-2"><strong>Wines</strong></h6>
                    </a>
                    <a href="{% url 'products' %}?category=red_wine,white_wine,rose_wine,sparkling_wine" class="">
                      <img class="link_image img-thumbnail card-body"src="/media/wine_cellar_wine_bottles.jpg" alt="rack of wine bottles">
                      <h6 class="text-muted text-center small px-3 mt-2"><strong>Wines</strong></h6>
                    </a>
              <!-- </div>
              <div class="col"> -->
                2 of 4
              <!-- </div>
              <div class="col"> -->
                3 of 4
              <!-- </div>
              <div class="col"> -->
                4 of 4
              <!-- </div> -->
            </div>
        </div>
        <div class="container h-50">
            <div class="row h-30 my-auto mx-auto mw-100 ">
              <div class="col mw-100 text-center">
                testimonial 1
              </div>
              <div class="col mw-100 text-center">
               testimonial 2
            </div>
        </div>
    </div>
{% endblock %}