{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
  
{% block content %}
    <div class="container-fluid">
        <div class="row h-40 my-5">
            <div class="col-sm-6 my-5">
                <h2 class="my-3"><strong>Buy the finest English Wines</strong></h2>
                <h5>
                    At the English Wine Cellar, we have carefully selected wines for their outstanding quality and provenance straight from the winemakers themselves.
                    If you are passionate about wine, then you will want to try some of the wonderful English wines we have on offer.
                    <br>
                    <br>
                     We work with some of the most prestigious and innovative vineyards across the UK,
                     with award-winning English wines and expert viticulture the order of the day. 
                     <br>
                     <br>
                     Why not discover the art of wine tasting, or treat yourself to a professionally-led wine tasting masterclass, or just enjoy the experience.
                     There’s something here to appeal to every palate.
                </h5>
                <br>
                <h5>
                    <a href="{% url 'products' %}" class="browse-now-button btn btn-lg rounded-5 text-uppercase py-3">Browse Our Cellar</a>
                </h5>
            </div>
                <div class="col-sm-6 my-5">
                <img class="mw-100 my-3" src="{{ MEDIA_URL }}wine_bucket_unsplash.jpg" alt="ice bucket with bottles of sparkling wine">
            </div>
        </div>
        <div class="container-fluid">
            <div class="row my-3">
              <div class="col-sm-12 col-md-6 col-lg-3 text-center">
                  <a href="{% url 'products' %}?category=red_wine,white_wine,rose_wine,sparkling_wine" class="text-center">
                      <img class="link_image img-thumbnail card-body" src="{{ MEDIA_URL }}wine_cellar_wine_bottles.jpg" alt="rack of wine bottles">
                      <h6 class="text-muted small px-3 mt-3 mb-5"><strong>Wines</strong></h6>
                    </a>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-3 text-center">
                <a href="{% url 'products' %}?category=wine_glasses,decanters" class="">
                  <img class="link_image img-thumbnail card-body" src="{{ MEDIA_URL }}red_wine_glasses.jpg" alt="set of red wine glasses">
                  <h6 class="text-muted small px-3 mt-3 mb-5"><strong>Glassware</strong></h6>
                </a>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-3 text-center">
                <a href="{% url 'products' %}?category=award_winners,mixed_cases,offers" class="">
                  <img class="link_image img-thumbnail card-body" src="{{ MEDIA_URL }}baccus_mixed_case_wine_2.jpg" alt="mixed case of English bacchus wine">
                  <h6 class="text-muted text-center small px-3 mt-3 mb-5"><strong>Mixed Cases & Award Winners</strong></h6>
                </a>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-3 text-center">
                <a href="{% url 'experiences' %}" class="">
                  <img class="link_image img-thumbnail card-body" src="{{ MEDIA_URL }}wines_tasting_cheese_pairing_2.jpg" alt="platter of cheeses, white wine bottle and wine glasses">
                  <h6 class="text-muted small px-3 mt-3 mb-5"><strong>Wine Tasting Experiences</strong></h6>
                </a>
              </div>
            </div>
        </div>
    </div>
{% endblock %}