{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
  
{% block content %}
<div class="container mt-5 mb-2">
    <div class="row">
        <div class="col">
            <hr class="mt-3">
            <h2 class="logo-font mb-4">Your Booking</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if booking_items %}
            <div class="table-responsive rounded">
                <!-- <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col">Experience Information</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">No: Of People</th>
                            <th scope="col">Date</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead> -->
            </div>
            {% else %}
            <p class="lead mb-5">There is nothing booked</p>
            <a href="{% url 'experiences' %}" class="btn btn-outline-black rounded-5 mt-3 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span>Why not view the experiences on offer</span>
            </a>
            <br>
            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-5 mt-3 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span>Why not browse our cellar</span>
            </a>
            {% endif %}
{% endblock %}