{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mt-5 mb-2">
    <div class="row">
        <div class="col">
            <hr class="mt-3">
            <h2 class="logo-font mb-4">Your Bookings</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if booking_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="text-black small">
                        <tr>
                            <th scope="col">Experience Info:</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">No: of People</th>
                            <th scope="col">Booking Date</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    {% for item in booking_items %}
                    <tr>
                        <td class="py-3 w-25">
                            {% if item.experience.image %}
                            <img class="img-fluid rounded" src="{{ item.experience.image.url }}"
                                alt="{{ item.experience.name }}">
                            {% elif item.experience.image_url %}
                            <img class="img-fluid rounded" src="{{ item.experience.image_url }}"
                                alt="{{ item.experience.name }}">
                            {% else %}
                            <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png"
                                alt="{{ item.experience.name }}">
                            {% endif %}
                        </td>
                        <td class="py-3 w-25">
                            <p class="my-0 small"><strong>{{ item.experience.name }}</strong></p>
                        </td>
                        <td class="py-3 w-20">
                            <p class="my-0">£{{ item.experience.price }}</p>
                        </td>
                        <form class="form update-form" action="{% url 'adjust_booking' item.item_id %}" method="POST">
                            {% csrf_token %}
                            <td class="py-3 w-25">
                                <div class="form-group">
                                    <!-- Input group containing quantity input -->
                                    <div class="input-group input-group-{{ item.item_id }}">
                                        <input class="form-control num_input border-black" type="number" name="quantity"
                                            value="{{ item.quantity }}" min="1" max="10"
                                            data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                    </div>
                                    <a class="update-link text-info"><strong>Update</strong></a>
                                </div>
                            </td>
                            <td class="py-3 w-25">
                                <div class="form-group">
                                    <!-- Input group containing date input  -->
                                    <div class="input-group input-group-{{ item.item_id }}">
                                        <input class="form-control date_input border-black" type="date" name="date"
                                            value="{{ item.date }}" data-item_id="{{ item.item_id }}"
                                            id="id_date_{{ item.item_id }}">
                                    </div>
                                    <a class="remove-item text-danger float-right"
                                            id="remove_{{ item.item_id }}"><strong>Remove</strong></a>
                                </div>
                            </td>
                        </form>
                        <td class="py-3 w-25">
                            <p class="my-0">£{{ item.experience.price|calc_subtotal:item.quantity }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="6" class="pt-5 text-right">
                            <h5><strong>Booking Total: £{{ booking_total|floatformat:2 }}</strong></h5>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" class="text-right">
                            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-5 mt-3 btn-lg">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span>Why not browse our cellar</span>
                            </a>
                            <a href="{% url 'checkout' %}" class="btn btn-black rounded-5 mt-3 btn-lg">
                                <span class="text-uppercase">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p class="lead mb-5">There is nothing booked</p>
            <a href="{% url 'experiences' %}" class="btn btn-outline-black rounded-5 mt-3 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span>Why not view the experiences on offer</span>
            </a>
            <br>
            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-5 mt-3 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span>Why not browse our cellar</span>
            </a>
{% endif %}
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% include 'includes/quantity_input_script.html' %}
<script type="text/javascript">
                // Update quantity/date on click
                $('.update-link').click(function (e) {
                    var form = $('.update-form');
                    form.submit();
                })

                // Remove item and reload on click()
                $('.remove-item').click(function (e) {
                    var csrfToken = "{{ csrf_token }}";
                    var itemId = $(this).attr('id').split('remove_')[1];
                    var date = $(this).data('date');
                    var quantity = $(this).data('quantity');
                    var url = `/booking/remove/${itemId}/`;
                    console.log(url);
                    var data = {
                        'csrfmiddlewaretoken': csrfToken,
                    };

                    $.post(url, data).done(function () {
                            location.reload();
                    });
                })
            </script>
            <script>
                // Prevents date in the past being selected
                window.addEventListener('load', () => {
                    const inputs = document.getElementsByTagName('input');
                    for (let i = 0; i < inputs.length; i++) {
                        let input = inputs[i];
                        if (input.name === 'date') {
                            input.min = new Date().toISOString().split("T")[0];
                        }
                    }
                });
            </script>
{% endblock %}