html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.the_english_wine_cellar_logo {
    height: 8rem;
}

.logo-font {
    text-transform: uppercase;
}


.browse-now-button {
    background: black;
    color: white;
    min-width: 200px;
    font-size: .9rem;
}

.btn-black {
    background: black;
    color: white;
}

.browse-now-button:hover,
.browse-now-button:active,
.browse-now-button:focus,
.browse-black:hover,
.btn-black:active,
.btn-black:focus {
    background: white;
    color: #000;
    border: solid 2px #000;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-limk {
    cursor: pointer;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/*  The top is padded a little when navbar is collapsed on a mobile device */
@media (max-width: 991px) {
    .header-container {
        padding-top: 80px;
    }

    body {
        height: calc(100vh - 80px);
    }
}
