<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="wine-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wine
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="wine-link">
                <a href="" class="dropdown-item">Red Wine</a>
                <a href="" class="dropdown-item">White Wine</a>
                <a href="" class="dropdown-item">Rose Wine</a>
                <a href="" class="dropdown-item">Sparkling Wine</a>
                <a href="" class="dropdown-item">All Wine</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="glassware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Glassware
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="glassware-link">
                <a href="" class="dropdown-item">Wine Glasses</a>
                <a href="" class="dropdown-item">Decanters</a>
                <a href="" class="dropdown-item">All Glassware</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Specials
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Award Winners</a>
                <a href="" class="dropdown-item">Mixed Cases</a>
                <a href="" class="dropdown-item">Offers</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>
