{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row h-40 my-5">
        <div class="col-12 col-md-6 col-lg-4 offset-2">
            <div class="image-containere my-5">
                {% if experience.image %}
                <a href="{{ experience.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid rounded-5" src="{{ experience.image.url }}"
                        alt="{{ experiences.name }}">
                </a>
                {% else %}
                <a href="{{ experience.image }}" target="_blank" >
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ experience.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <p class="lead mb-0 font-weight-bold">{{ experience.name }}</p>
                <p class="lead mb-0 text-left font-weight-bold">£{{ experience.price }}</p>
                <p class="mt-3">{{ experience.description }}</p>
                <p class="mt-3">{{ experience.content }}</p>
                <button type="submit" class="btn btn-black rounded-5 text-uppercase mt-5">Book Now</Button>
                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-5 btn-lg mt-3">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="">Why not browse our cellar</span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}