{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row h-40 my-5">
        <div class="col text-center mt-5">
            <h3 class="logo-font">Wine Tasting Experiences</h3>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="experience-container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for experience in experiences %}
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="card h-100 border-0">
                            {% if experience.image %}
                                <a href="{% url 'experience_detail' experience.id %}">
                                    <img class="card-img-top img-fluid rounded-5 wine-tasting-img" src="{{ experience.image.url }}" alt="{{ experience.name }}">
                                </a>
                            {% elif experience.image_url %}
                                <a href="{% url 'experience_detail' experience.id %}">
                                    <img class="card-img-top img-fluid rounded-5 wine-tasting-img" src="{{ experience.image_url }}" alt="{{ experience.name }}">
                                </a>
                            {% else %}
                                <a href="{% url 'experience_detail' experience.id %}">
                                    <img class="card-img-top img-fluid wine-tasting-img" src="{{ MEDIA_URL }}noimage.png"
                                        alt="{{ experience.name }}">
                                </a>
                            {% endif %}
                                <div class="card-body pb-0">
                                   <p class="mb-0 font-weight-bold text-left">{{ experience.name }}</p>
                                    <p class="mb-0 text-left">{{ experience.description }}</p>
                                    <p class="mb-0 text-left font-weight-bold">£{{ experience.price }}</p>
                                </div>
                        </div>
                    </div>
                    <!-- Creates a full width horizontal rule after each row of experience card -->
                    {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row my-5">
        <div class="col mt-3">
            <h5 class="mt-3 text-center font-weight-bold">You can buy your favourite English wines from our shop on the day of your visit.</h5>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row my-5">
        <div class="col-sm-6 col-md-6 col-lg-3">
            <h6 class="font-weight-bold">Contact details:</h6>
            <ul class="list-unstyled">
                <li>36 Vintner Road </li>
                <li>Wne Merchants' Way</li>
                <li>London</li>
                <li>SW1</li>
                <li>(T) 123456 789456</li>
            </ul>

            <h6 class="font-weight-bold">Location map</h6>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9934.58209514636!2d-0.14328210595498297!3d51.50137213149691!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604c40d42db91%3A0xbba17ce3ed1f92f8!2sLondon%20SW1A!5e0!3m2!1sen!2suk!4v1640867762271!5m2!1sen!2suk"
                allowfullscreen="" loading="lazy">
            </iframe>
        </div>
    </div>
</div>
{% endblock %}