{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block inner_content %}
    <hr>
    <h2 class="logo-font mb-4">{% trans "Verify Your E-mail Address" %}</h2>
    <hr>

    <p>
        {% blocktrans %}
        We have sent you an e-mail for verification purposes. 
        Please follow the link provided to finalise the registration process. 
        Check your junk mail if you don't see it in your inbox, 
        failing that please contact us if you haven't received it.
        {% endblocktrans %}
    </p>

{% endblock %}
